.ch-codeblock {
  margin: 20px -16px;
  border-radius: 0px;
}
@media (min-width: 640px) {
  .ch-codeblock {
    border-radius: 6px;
  }
}
.ch-code,
.ch-code-scroll-parent {
  background-color: #1e293b !important;
}
.ch-frame-title-bar {
  background-color: #334155 !important;
}
.ch-editor-tab-active {
  background-color: #1e293b !important;
}
.ch-editor-tab-inactive {
  background-color: #334155 !important;
  border-right-color: #334155 !important;
  border-bottom-color: #334155 !important;
}
.ch-scrollycoding-step-content[data-selected] {
  border-color: #64748b;
}
